#name {
  text-align: center;
  border-bottom: 1px solid black;
}

#content {
  border: 1px solid black;
  height: auto;
  width: 400px;
  margin: 20px auto;
}

#send {
  text-align: center;
  border-top: 1px solid black;
}

#send form {
  padding: 5px 0;
}



.right_message {
  text-align: right;
  padding-right: 30px;
}

.left_message {
  text-align: left;
  padding-left: 30px;
}
