

#name {
  text-align: center;
}

#content {
  border: 1px solid black;
  height: auto;
  width: 400px;
  margin: 20px auto;
}

.message-list {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(100, 100, 100);
}

.message-list a {
  text-decoration: none;
}

.team_name {
  padding-left: 10px;
  /* border: 1px solid green; */
  /* height: 10px; */
}

.team_name span {
  font-size:8px;
  line-height:10px;
}

.message {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.message-sentence {
  width: 65%;
  padding-left: 30px;
  height: 24px;
  overflow: hidden;
}

.notification-box {
  width: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.notification {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid red;
}

.message-timestanp {
  width: 28%;
  text-align: center;
}

.message span {
  font-size: 2px;
  color: rgb(100, 100, 100);
}
