{% extends 'tramino/base.html' %}
{% load static %}

{% block css %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
{% endblock %}

{% block content %}
  <h1>チーム情報登録</h1>
  <section id="school_vue">
    <!-- <button v-on:click="greet">Greet</button> -->
    学校名を入力してください:
    <input v-on:change="aiueo" v-model='school_name'><br><br>
    [[school_name]]
    [[ school_list ]]

    <br>
    <br>
    <hr>

    <br>
    <table class="table">
      <form action="{% url 'tramino:mypage' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <tbody>
        <tr>
          <th>学校名※</th>
          <td>{{ form.organization_name }}</td>
        </tr>
        <tr>
          <th>部活名※</th>
          <td>{{ form.club_name }}</td>
        </tr>
        <tr>
          <th>性別※</th>
          <td>{{ form.sex }}</td>
        </tr>
        <tr>
          <th>学校の属性※</th>
          <td>{{ form.school_attribute }}</td>
        </tr>
        <tr>
          <th>県名※</th>
          <td>{{ form.prefectures_name }}</td>
        </tr>
        <tr>
          <th>市区町村</th>
          <td>{{ form.city_name }}</td>
        </tr>
        <tr>
          <th>活動場所※</th>
          <td>{{ form.activity_place }}</td>
        </tr>
        <tr>
          <th>成績</th>
          <td>{{ form.achievement }}</td>
        </tr>
        <tr>
          <th>人数</th>
          <td>{{ form.number_of_members }}</td>
        </tr>
        <tr>
          <th>顧問の名前※</th>
          <td>{{ form.commander_name }}</td>
        </tr>
        <tr>
          <th><input class="btn btn-primary" type="submit" value="Submit"></th>
          <td><input class="btn btn-secondary" type="reset" value="Reset"></td>
        </tr>
      </tbody>
      </form>
    </table>
  </section>
{% endblock %}


{% block js %}
<script type="text/javascript" src="{% static 'tramino/create/js/school_vue.js' %}"></script>
{% endblock %}
