{% extends 'tramino/base.html' %}
{% load static %}

{% block css %}

{% endblock %}

{% block content %}
  <h1>チーム情報登録</h1>
  <section id="school_vue">
    あなたの学校名を入力してください(部分一致可):
    <input v-on:change="get_school" v-model='school_name'><br><br>

    <label for="school">学校名の候補　: </label>
    <select v-model="confirm_school_name" v-on:change="get_school_info" id="school">
      <option value="">学校名を洗濯してください</option>
      <option v-for="school in school_list" v-bind:value="school">
        [[ school ]]
      </option>
    </select><br>

  </section>
  <section id='team_form'>

  <br>
  <br>
  <hr>
    <form>
      <label for="o_name"> 学校名: </label>
      <input type="text" v-model="organization_name_f()" id="o_name"><br>
      {{ form.club_name.label }}:{{ form.club_name }}<br>
      {{ form.sex.label }}:{{ form.sex }}<br>
      <label for="s_attribute"> 学校の属性: </label>
      <input type="text" v-model="school_attribute_f()" id="s_attribute"><br>
      <label for="p_name"> 都道府県名: </label>
      <input type="text" v-model="prefectures_name_f()" id="p_name"><br>
      <label for="c_name"> 都道府県名: </label>
      <input type="text" v-model="city_name_f()" id="c_name"><br>
      {{ form.activity_place.label }}:{{ form.activity_place }}<br>
      {{ form.achievement.label }}:{{ form.achievement }}<br>
      {{ form.number_of_members.label }}:{{ form.number_of_members }}<br>
      {{ form.commander_name.label }}:{{ form.commander_name }}<br>

    </form>
    <button v-on:click="create_team">Add 1</button>

  </section>
{% endblock %}


{% block js %}
<script type="text/javascript" src="{% static 'tramino/create/js/school_vue.js' %}"></script>
{% endblock %}
