{% extends 'tramino/base.html' %}
{% load static %}

{% block css %}
<style type="text/css">
  .card3 {
      width: 800px;
      height:330px;
      margin: 20px;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0 3px 6px #ccc;
  }
  .box3 {
      display: flex;
  }
  .image3 {
      width: 280px;
      height: 230px;
      margin: 20px;
      object-fit: cover;
      border-radius: 5px 0 0 5px;
  }
  .title2 {
    font-size: 125%;
      margin: 5px;
      color: #444;
  }
  .title3 {
      font-size: 150%;
      margin: 10px;
      color: #444;
  }
  .content3 {
      padding: 10px;
      color: #666;
  }

  #search_box {
    border: 2px solid black;
    padding: 10px;
    padding-left: 100px;
  }
  </style>

{% endblock%}

{% block content %}
  <h1>試合を探す</h1>
  <section id='match_search_vue'>

    <div id="search_box">
      <label for="event_host_team">学校名: </label>
      <input id="event_host_team" v-model="event_host_team"><br>

      <label for="prefecture">都道府県名: </label>
      <select v-model="prefecture" id="prefecture">
        <option value="">全て</option>
        <option v-for="prefecture in prefecture_list" v-bind:value="prefecture[1]">
          [[ prefecture[0] ]]
        </option>
      </select><br>

      <label for="club_name">競技名: </label>
      <select v-model="club_name" id="club_name">
        <option value="">全て</option>
        <option v-for="club_name in club_name_list" v-bind:value="club_name[1]">
          [[ club_name[0] ]]
        </option>
      </select><br>

      <!-- <label for="number_of_members">人数: </label>
      <select v-model="number_of_members" id="number_of_members">
        <option value="">全て</option>
        <option v-for="number_of_members in number_of_members_list" v-bind:value="number_of_members[0]">
          [[ number_of_members[1] ]]
        </option>
      </select><br> -->

      <label for="team_level">チームレベル: </label>
      <select v-model="team_level" id="team_level">
        <option value="">全て</option>
        <option v-for="team_level in team_level_list" v-bind:value="team_level[0]">
          [[ team_level[1] ]]
        </option>
      </select><br>


      <label for="date1">日付の範囲選択: </label><input type="date" v-model="date1" value="2019-09-02" id="date1">〜
      <input type="date" v-model="date2" id="date2"><br>

      <button v-on:click="search">検索</button>
    </div>
    <br>
    <hr>

    <table class="table">
      <tbody>
        <section v-for="event in events">
          <a v-bind:href="'/tramino/match_detail/' + event.pk"　style="text-decoration: none;">
            <div class="card3">
              <div class="box3">
                <div>
                  <p class="title2" style="padding-left:20px; ">[[ event.event_date ]]([[ event.dot_week ]])</p>
                  <!-- <p>[[ event.activity_place_picture_url ]]</p> -->
                  <section v-if="event.activity_place_picture_url.slice(-6,) != 'STRING'">
                    <p>
                      <img v-bind:src="event.activity_place_picture_url" class="image3">
                    </p>
                  </section>
                  <section v-else-if="event.team_picture_url.slice(-6,) != 'STRING'">
                    <p>
                      <img v-bind:src="event.team_picture_url" class="image3">
                    </p>
                  </section>
                  <section v-else>
                    <img src="{% static 'tramino\mypage\images\question_mark.png'%}" class="image3">
                  </section>

                </div>

                <div>
                  <div class="title3">[[ event.organization_name ]][[ event.club_name ]]部</div>
                  <div class="content3" style="color:darkgray;">[[ event.prefectures_name ]][[ event.city_name ]]</div>
                  <div class="content3" style="font-size:20px;">[[ event.event_name ]]</div>
                  <div class="content3">プレイヤー数:[[ event.number_of_members ]]人</div>
                  <div class="content3">[[ event.activity_place ]]</div>
                </div>
              </div>
            </div>
          </a>

        </section>
      </tbody>
    </table>
  </section>

{% endblock %}


{% block js %}

<script type="text/javascript" src="{% static 'tramino/match_search/js/match_search_vue.js' %}"></script>
{% endblock%}
