{% extends 'tramino/base.html' %}
{% load static %}

{% block css %}
<style type="text/css">
  .card2 {
      width: 900px;
      margin: 20px;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0 3px 6px #ccc;
  }
  .box2 {
      display: flex;
  }
  .icon2 {
      width: 85px;
      height: 85px;
      margin: 10px;
      border-radius: 24px;
      object-fit: cover;
  }
  .name2 {
      font-size: 100%;
      margin-bottom: 10px;
      color: #888;
  }
  .image2 {
      width: 100%;
      height: 550px;
      object-fit: cover;
  }
  .title2 {
      font-size: 150%;
      margin: 10px 0;
      color: #444;
  }
  .content2 {
      padding: 10px;
      color: #666;
  }
</style>
<style type="text/css">
  .card5 {
      width: 700px;
      margin: 20px;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0 3px 6px #ccc;
  }
  .box5 {
      display: flex;
  }
  .icon5 {
      width: 60px;
      height: 60px;
      margin: 10px;
      border-radius: 24px;
      object-fit: cover;
  }
  .name5 {
      font-size: 100%;
      margin-bottom: 10px;
      color: #888;
  }
  .image5 {
      width: 40%;
      height: 150px;
      object-fit: cover;
  }
  .title5 {
      font-size: 150%;
      margin: 10px 0;
      color: #444;
  }
  .content5 {
      padding: 10px;
      color: #666;
  }
</style>

{% endblock %}


{% block content %}
  <h3>メッセージアラート：{{ message }}</h3>
  <h1>試合の詳細</h1>
<div class="card2">
  <div class="box2">
      <img src="{{match.event_host_team.commander_picture.url}}" class="icon2">
      <div>
        <div class="title2" style="width:700px;text-align:left;">
        <div style="text-align:right;float:right;">{{match.event_date}}</div>{{match.event_name}}</div>
          <p class="name2"><a href="{% url 'tramino:team_detail' match.host_team_id %}" style="text-decoration: none;">{{ match.event_host_team.organization_name }}{{ match.event_host_team.club_name }}({{ match.event_host_team.school_attribute }})</a></p>
      </div>
  </div>
  <img src="{{ match.event_picture.url }}" class="image2">
  <p class="content2">{{match.event_description}}</p>
  <div class="title2" style="width:800px;text-align:left;">
  <div style="text-align:right;float:right;">あと〇〇日！！</div>申し込み期限 : {{match.apply_deadline}}</div>

</div>
  <!-- <h2><a href="{% url 'tramino:team_detail' match.host_team_id %}">チームの詳細を見る</a></h2> -->
<br>
<br>

  <h2>応募済みのチーム</h2>
  <table class="table">
    <tbody>
      {% for apply in applies %}
      <tr>
        <th><a href="{% url 'tramino:team_detail' apply.guest_team_id.id %}">{{ apply.guest_team_id.organization_name }}{{ apply.guest_team_id.club_name }}({{ apply.guest_team_id.school_attribute }})</a></th>
      </tr>
      {% endfor %}
    </tbody>
  </table>


--------------------↓↓↓↓応募、気になるリストに追加↓↓↓↓---------------------
  <h2>応募する</h2>
  {% for myteam in my_teams %}
  <form action="{% url 'tramino:done' %}" method="POST" enctype="multipart/form-data"> 
  <!-- <form method="post" action="{% url 'tramino:done' %}"> -->
  {% csrf_token %}
  <tbody>
    <tr>
      <th><input class="btn btn-primary" type="submit" value="{{ myteam.organization_name }}{{ myteam.club_name }}({{ myteam.school_attribute }})で応募する"></th>
      <td><input class="btn btn-secondary" type="reset" value="Reset"></td>
    </tr>
  </tbody>
  <input type="hidden" name="page_name" value="event_apply">
  <input type="hidden" name="event_id" value={{match.id}}>
  <input type="hidden" name="apply_team_id" value={{myteam.id}}>
  </form>
  {% endfor %}

  <br>
  <h2>気になるリストに追加</h2>

  {% for myteam in my_teams %}
  <form action="{% url 'tramino:match_detail' match.id %}" method="POST" enctype="multipart/form-data"> 
  <!-- <form method="post" action="{% url 'tramino:done' %}"> -->
  {% csrf_token %}
  <tbody>
    <tr>
      <th><input class="btn btn-primary" type="submit" value="{{ myteam.organization_name }}{{ myteam.club_name }}({{ myteam.school_attribute }}){{ myteam.favo_judge }}"></th>
      <td><input class="btn btn-secondary" type="reset" value="Reset"></td>
    </tr>
  </tbody>
  <input type="hidden" name="page_name" value="event_favorite">
  <input type="hidden" name="event_id" value={{match.id}}>
  <input type="hidden" name="apply_team_id" value={{myteam.id}}>
  </form>
  {% endfor %}




  <p><a href="{% url 'tramino:match_search' %}">試合を探す</a></p>

  {% endblock %}

  {% block js %}
  <script>
    function clickBtn1(){
    
      const teamnamechoice = document.form1.teamnamechoice;
    
      // 値(数値)を取得
      const num = teamnamechoice.selectedIndex;
      //const num = document.form1.color1.selectedIndex;
    
      // 値(数値)から値(value値)を取得
      const str = teamnamechoice.options[num].value;
      //const str = document.form1.color1.options[num].value;
    
      document.getElementById("team_name").value = str;
      console.log("done"); 
    }
    </script>
  
    
  {% endblock %}
  
  
