{% extends 'tramino/base.html' %}

{% block content %}
  <h1>試合の詳細</h1>
  <table class="table">
    <tbody>
      <tr>
        <th>イベントID</th>
        <td>{{match.id}}</td>
      </tr>
      <tr>
        <th>ホストチーム</th>
        <td>{{match.event_host_team}}</td>
      </tr>
      <tr>
        <th>イベントの名前</th>
        <td>{{match.event_name}}</td>
      </tr>
      <tr>
        <th>イベントの写真</th>
        <!-- <td>{{match.event_picture}}</td> -->
        <td><img src="{{ match.event_picture.url }}" width="100" height="100"/></td>
      </tr>
      <tr>
        <th>イベントの詳細</th>
        <td>{{match.event_description}}</td>
      </tr>
      <tr>
        <th>イベントの日付</th>
        <td>{{match.event_date}}</td>
      </tr>
      <tr>
        <th>申し込み期限</th>
        <td>{{match.apply_deadline}}</td>
      </tr>
      <tr>
        <th>掲載日</th>
        <td>{{match.created_at}}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <h1><a href="{% url 'tramino:team_detail' match.host_team_id %}">チームの詳細を見る</a></h1>
  <br>


  {% for myteam in my_teams %}
  <form action="{% url 'tramino:done' %}" method="POST" enctype="multipart/form-data"> 
  <!-- <form method="post" action="{% url 'tramino:done' %}"> -->
  {% csrf_token %}
  <tbody>
    <tr>
      <th><input class="btn btn-primary" type="submit" value="{{ myteam.organization_name }}{{ myteam.club_name }}({{ myteam.school_attribute }})で応募する"></th>
      <td><input class="btn btn-secondary" type="reset" value="Reset"></td>
    </tr>
  </tbody>
  <input type="hidden" name="page_name" value="event_apply">
  <input type="hidden" name="event_id" value={{match.id}}>
  <input type="hidden" name="apply_team_id" value={{myteam.id}}>
  </form>
  {% endfor %}

  <br>
  <br>
  
  {% for myteam in my_teams %}
  <form action="{% url 'tramino:done' %}" method="POST" enctype="multipart/form-data"> 
  <!-- <form method="post" action="{% url 'tramino:done' %}"> -->
  {% csrf_token %}
  <tbody>
    <tr>
      <th><input class="btn btn-primary" type="submit" value="{{ myteam.organization_name }}{{ myteam.club_name }}({{ myteam.school_attribute }})の気になるリストに追加"></th>
      <td><input class="btn btn-secondary" type="reset" value="Reset"></td>
    </tr>
  </tbody>
  <input type="hidden" name="page_name" value="event_favorite">
  <input type="hidden" name="event_id" value={{match.id}}>
  <input type="hidden" name="apply_team_id" value={{myteam.id}}>
  </form>
  {% endfor %}




  <p><a href="{% url 'tramino:match_search' %}">試合を探す</a></p>

  {% endblock %}
