{% extends 'tramino/base.html' %}
{% load static %}

{% block css %}
<style type="text/css">
  .card3 {
      width: 800px;
      height:330px;
      margin: 20px;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0 3px 6px #ccc;
  }
  .box3 {
      display: flex;
  }
  .image3 {
      width: 280px;
      height: 230px;
      margin: 20px;
      object-fit: cover;
      border-radius: 5px 0 0 5px;
  }
  .title2 {
    font-size: 125%;
      margin: 5px;
      color: #444;
  }
  .title3 {
      font-size: 150%;
      margin: 10px;
      color: #444;
  }
  .content3 {
      padding: 10px;
      color: #666;
  }
  </style>

{% endblock%}

{% block content %}
  <h1>試合を探す</h1>
  <table class="table">
    <tbody>
    {% for event in events %}
      <a href="{% url 'tramino:match_detail' event_id=event.id %}" style="text-decoration: none;">
        <div class="card3">
          <div class="box3">
            <div>
              <p class="title2" style="padding-left:20px; ">{{ event.event_date }}({{ event.dot_week }})</p>
              <p>
              {% if event.event_host_team.activity_place_picture != "SOME STRING" %}
                <img src="{{ event.event_host_team.activity_place_picture.url }}" class="image3">
              {% elif event.event_host_team.team_picture != "SOME STRING" %}
                <img src="{{ event.event_host_team.team_picture.url }}" class="image3">
              {% else %}
                <img src="{% static 'tramino\mypage\images\question_mark.png'%}" class="image3">
              {% endif %}
              </p>
            </div>
              <div>
                  <div class="title3">{{ event.event_host_team.organization_name }}{{ event.event_host_team.club_name }}</div>
                  <div class="content3" style="color:darkgray;">{{ event.event_host_team.prefectures_name }}{{ event.event_host_team.city_name }}</div>
                  <div class="content3" style="font-size:20px;">{{ event.event_name }}</div>
                  <div class="content3">プレイヤー数:{{ event.event_host_team.number_of_members }}人</div>
                  <div class="content3">{{ event.event_host_team.activity_place }}</div>
                  <div class="content3">{% if event.event_host_team.achievement == None %}{% else %}{{ event.event_host_team.achievement }}{% endif %}</div>
                  <!-- <div class="content3">{{ event.event_description }}</div> -->
              </div>
          </div>
        </div>
      </a>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}


{% block js %}


{% endblock%}
