{% extends 'tramino/base.html' %}
{% load static %}

{% block css %}
<style type="text/css">
  .card2 {
      width: 900px;
      margin: 20px;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0 3px 6px #ccc;
  }
  .box2 {
      display: flex;
  }
  .icon2 {
      width: 85px;
      height: 85px;
      margin: 10px;
      border-radius: 24px;
      object-fit: cover;
  }
  .name2 {
      font-size: 100%;
      margin-bottom: 10px;
      color: #888;
  }
  .image2 {
      width: 100%;
      height: 550px;
      object-fit: cover;
  }
  .title2 {
      font-size: 150%;
      margin: 10px 0;
      color: #444;
  }
  .content2 {
      padding: 10px;
      color: #666;
  }
</style>
<style type="text/css">
  .card5 {
      width: 700px;
      margin: 20px;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0 3px 6px #ccc;
  }
  .box5 {
      display: flex;
  }
  .icon5 {
      width: 60px;
      height: 60px;
      margin: 10px;
      border-radius: 24px;
      object-fit: cover;
  }
  .name5 {
      font-size: 100%;
      margin-bottom: 10px;
      color: #888;
  }
  .image5 {
      width: 40%;
      height: 150px;
      object-fit: cover;
  }
  .title5 {
      font-size: 150%;
      margin: 10px 0;
      color: #444;
  }
  .content5 {
      padding: 10px;
      color: #666;
  }
</style>

{% endblock %}


{% block content %}
  <h3>メッセージアラート：{{ message }}</h3>
  <h1>試合の詳細</h1>
<div class="card2">
  <div class="box2">
      <img src="{{match.event_host_team.commander_picture.url}}" class="icon2">
      <div>
        <div class="title2" style="width:700px;text-align:left;">
        <div style="text-align:right;float:right;">{{match.event_date}}</div>{{match.event_name}}</div>
          <p class="name2"><a href="{% url 'tramino:team_detail' match.host_team_id %}" style="text-decoration: none;">{{ match.event_host_team.organization_name }}{{ match.event_host_team.club_name }}({{ match.event_host_team.school_attribute }})</a></p>
      </div>
  </div>
  <img src="{{ match.event_picture.url }}" class="image2">
  <p class="content2">{{match.event_description}}</p>
  <div class="title2" style="width:800px;text-align:left;">
  <div style="text-align:right;float:right;">あと〇〇日！！</div>申し込み期限 : {{match.apply_deadline}}</div>
  <div class="title5">応募・コメント〇〇件</div>
  <div class="comment-box" style="padding-left: 50px;">
    {% for post_comment in match.event_post_comments.all %}
    <div class="card5">
      <div class="box5">
          <img src="{{post_comment.guest_team_id.commander_picture.url}}" class="icon5">
          <div>
            <div class="title5">{{ post_comment.guest_team_id.organization_name }}{{ post_comment.guest_team_id.club_name }}({{ post_comment.guest_team_id.school_attribute }})</div>
          </div>
      </div>
      <p class="content5">{{ post_comment.message }}</p>
      <small class="content5">{{ post_comment.created_at }}</small>
    </div>  
  </div>
{% endfor %}

</div>
  <!-- <h2><a href="{% url 'tramino:team_detail' match.host_team_id %}">チームの詳細を見る</a></h2> -->


<div class="btn_box">
  <tbody>
    <tr>
      <form action="{% url 'tramino:match_detail' match.id %}" name="form1"  method="POST" enctype="multipart/form-data"> 
        {% csrf_token %}
        <th>コメント（300字以内）</th>
        <td>{{ form.any_message }}</td>

        <select name="teamnamechoice" id="name">
          {% for my_team_name in my_teams_name %}
            <option name="my_team_name" value="{{ my_team_name }}">{{ my_team_name }}</option>
          {% endfor %}
        </select>


        <th><input class="btn btn-primary" type="submit" value="コメントを送信する" onclick="clickBtn1()"/></th>
        <input type="hidden" name="page_name" value="comment_submit">
        <input type="hidden" name="event_id" value={{match.id}}>
        <input type="hidden" id="team_name" name="team_name" value="">
        <td><input class="btn btn-secondary" type="reset" value="Reset"></td>
      </form>
  </tr>
  </tbody>

</div>

<br>
<br>






<div class="container">
{% for post_comment in match.event_post_comments.all %}
  <div id="{{ post_comment.pk }}" class="card {% if forloop.last %}mb-4{% else %}mb-2{% endif %} {% if forloop.first %}border-dark{% endif %}">
    <div class="post-card-body p-3">
        <div class=""><a href="" class="btn btn-success">返信する</a></div>
      <div class="row">
        <div class="col-2"></div>
          <div class="row mb-3">
            <div class="col-6"><strong class="">{{ post_comment.message }}</strong></div>
            <div class="col-6"><strong class="">{{ post_comment.guest_team_id.organization_name }}{{ post_comment.guest_team_id.club_name }}({{ post_comment.guest_team_id.school_attribute }})</strong></div>
            <div class="col-6"><small class="">{{ post_comment.created_at }}</small></div>
          </div>
          <div class="post-body"></div>
      </div>
    </div>
    <!-- {% for post_reply in post_comment.post_replies.all %}
      {% if forloop.first %}
        <hr>
      {% endif %}
      <div id="{{ post_reply.pk }}" class="card {% if forloop.last %}mb-1{% else %}mb-1{% endif %} {% if forloop.first %}border-dark{% endif %}">
        <div class="post-card-body p-3">
          <div class="row">
            <div class="col-2">
            </div>
            <div class="col-10">
              <div class="row mb-3">
                <div class="col-6">
                  <strong class="text-muted">{{ post_reply.created_by.username }}</strong>
                </div>
                <div class="col-6 text-right">
                  <small class="text-muted">{{ post_reply.created_at }}</small>
                </div>
              </div>
              <div class="post-body">
                {{ post_reply.get_message_as_markdown }}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %} -->
  </div>
{% endfor %}


<br>
<br>



  <h2>応募済みのチーム</h2>
  <table class="table">
    <tbody>
      {% for apply in applies %}
      <tr>
        <th><a href="{% url 'tramino:team_detail' apply.guest_team_id.id %}">{{ apply.guest_team_id.organization_name }}{{ apply.guest_team_id.club_name }}({{ apply.guest_team_id.school_attribute }})</a></th>
      </tr>
      {% endfor %}
    </tbody>
  </table>


--------------------↓↓↓↓応募、気になるリストに追加↓↓↓↓---------------------
  <h2>応募する</h2>
  {% for myteam in my_teams %}
  <form action="{% url 'tramino:done' %}" method="POST" enctype="multipart/form-data"> 
  <!-- <form method="post" action="{% url 'tramino:done' %}"> -->
  {% csrf_token %}
  <tbody>
    <tr>
      <th><input class="btn btn-primary" type="submit" value="{{ myteam.organization_name }}{{ myteam.club_name }}({{ myteam.school_attribute }})で応募する"></th>
      <td><input class="btn btn-secondary" type="reset" value="Reset"></td>
    </tr>
  </tbody>
  <input type="hidden" name="page_name" value="event_apply">
  <input type="hidden" name="event_id" value={{match.id}}>
  <input type="hidden" name="apply_team_id" value={{myteam.id}}>
  </form>
  {% endfor %}

  <br>
  <h2>気になるリストに追加</h2>

  {% for myteam in my_teams %}
  <form action="{% url 'tramino:match_detail' match.id %}" method="POST" enctype="multipart/form-data"> 
  <!-- <form method="post" action="{% url 'tramino:done' %}"> -->
  {% csrf_token %}
  <tbody>
    <tr>
      <th><input class="btn btn-primary" type="submit" value="{{ myteam.organization_name }}{{ myteam.club_name }}({{ myteam.school_attribute }}){{ myteam.favo_judge }}"></th>
      <td><input class="btn btn-secondary" type="reset" value="Reset"></td>
    </tr>
  </tbody>
  <input type="hidden" name="page_name" value="event_favorite">
  <input type="hidden" name="event_id" value={{match.id}}>
  <input type="hidden" name="apply_team_id" value={{myteam.id}}>
  </form>
  {% endfor %}




  <p><a href="{% url 'tramino:match_search' %}">試合を探す</a></p>

  {% endblock %}

  {% block js %}
  <script>
    function clickBtn1(){
    
      const teamnamechoice = document.form1.teamnamechoice;
    
      // 値(数値)を取得
      const num = teamnamechoice.selectedIndex;
      //const num = document.form1.color1.selectedIndex;
    
      // 値(数値)から値(value値)を取得
      const str = teamnamechoice.options[num].value;
      //const str = document.form1.color1.options[num].value;
    
      document.getElementById("team_name").value = str;
      console.log("done"); 
    }
    </script>
  
    
  {% endblock %}
  
  
