{% extends 'tramino/base.html' %}
{% load static %}

{% block css %}
<style type="text/css">
  #send {
    margin-left: 300px;
  }
</style>
{% endblock %}


{% block content %}
<div id='send'>
  <h1>
    メッセージを送信
  </h1>
  <form method="post" action="{% url 'tramino:message_room' room_name %}">
    {% csrf_token %}

    <textarea id="kanso" name="message_text" cols="40" rows="4" maxlength="20"
    placeholder="初めまして。〇〇です&#13;&#10;是非〇〇さんと練習試合をしたいと思っています。&#13;&#10;よろしくお願いします。"></textarea>
    <input type="hidden" name="matchid" value={{ matchid }}>
    <input type="hidden" name="matchid" value={{ opponent_id }}>
    <input type="submit" value="送信する">
    <input type="reset" value="リセット">
  </form>
</div>





{% endblock %}

{% block js %}


{% endblock %}
