{% extends 'tramino/base.html' %}
{% load static%}

{% block css %}
  <body link="000000" vlink="#000000" alink="#000000">
  <link rel='stylesheet' type='text/css' href="{% static 'tramino\message_home\css\message_home.css'%}" />
{% endblock%}
{% block content %}
  <div id='content'>
    <div id='name'>
      <h1>メッセージ一覧</h1>
    </div>
    <hr>
    {% for message_user in message_user_list %}
      <div class='message-list'>
        <a href="{% url 'tramino:message_room' message_user.room_name %}">
          <div class='team_name'>
            {% for team in message_user.oponent_teams %}
              <span>{{ team.organization_name }}</span>
            {% endfor %}
          </div>
          <div class='message'>
            <div class='message-sentence'>
              {{ message_user.latest_message.message }}
            </div>
            <div class='notification-box'>
              {% ifequal message_user.latest_message.readed '0' %}
                <div class='notification'></div>
              {% endifequal %}
            </div>
            <div class='message-timestanp'>
              <span>{{ message_user.latest_message.timestanp }}</span>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>


{% endblock %}
