{% extends 'tramino/base.html' %}
{% load static%}

{% block css %}
<link rel='stylesheet' type='text/css' href="{% static 'tramino/message_room/css/message_room.css'%}" />
{% endblock%}

{% block content %}
{{ my_id }}
  <div id='content'>
    <div id='name'>
      <h1>メッセージ</h1>

    </div>
    <div id='message-box'>
      {% for message in message_list %}
        {% if message.sender_id == user_id %}
          <div class=right_message>{{message.message}}</div>
        {% else %}
          <div class=left_message>{{message.message}}</div>
        {% endif %}
      {% endfor %}
    </div>
    <div id='send'>
      <form method="post" action="{% url 'tramino:message_room' room_name %}">
        {% csrf_token %}
        <input type="text" name="message_text">
        <input type="submit" value="送信する">
        <input type="reset" value="リセット">
      </form>
    </div>
  </div>


{% endblock %}
