{% extends "tramino/base.html" %}
{% block content %}
<h3>スケジュール</h3>
<br>
<table>
  <thead>
  <tr>
    <th>日付</th>
    <th>曜日</th>
    <th>属性</th>
    <th>イベント</th>
  </tr>
  </thead>
  <tbody>
  {% for schedule in schedule_data_set %}
  <tr>
    <td>{{ schedule.1 }}</td>
    <td>{{ schedule.4 }}</td>
    <td>{{ schedule.3 }}</td>
    <td>
        {% if schedule.2 == 1 %}
        <a href="{% url 'tramino:match_detail' schedule.0.event_post_id.id %}" style="text-decoration: none;">{{ schedule.0.event_post_id.event_name }}</a>
        {% else %}
        <a href="{% url 'tramino:match_detail' schedule.0.id %}" style="text-decoration: none;">{{ schedule.0.event_name }}</a>
        {% endif %}
    </td>
</tr>
  {% endfor %}
  </tbody>
</table>

<br>
<h3>全体スケジュール</h3>
<table>
  <thead>
  <tr>
    <th>日付</th>
    <th>曜日</th>
    <th>イベント</th>
  </tr>
  </thead>
  <tbody>
  {% for calendar in calendar_data_set %}
  <tr>
    <td>{{ calendar.0 }}</td>
    <td>
        {% if calendar.3 == 6 %}
            <div style="color: red;">({{ calendar.2 }})</div>            
        {% else %}
            <div>({{ calendar.2 }})</div>
        {% endif %}
    </td>
    <td>
        {% for object in calendar.1 %}
            {% if object.2 == 1 %}
            <div>{{ object.3 }}　<a href="{% url 'tramino:match_detail' object.0.event_post_id.id %}" style="text-decoration: none;">{{ object.0.event_post_id.event_name }}</a></div>
            {% else %}
            <div>{{ object.3 }}　<a href="{% url 'tramino:match_detail' object.0.id %}" style="text-decoration: none;">{{ object.0.event_name }}</a></div>
            {% endif %}
        {% endfor %}

    </td>
</tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
