<!DOCTYPE html>
<html>
<head lang="ja">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
This page is event_post.
</body>

<br>
<br>
##################################
<div>DBすべてのチーム情報</div>
<table>
  <thead>
  <tr>
    <th>チームID</th>
    <th>学校名</th>
    <th>部活</th>
  </tr>
  </thead>
  <tbody>
  {% for message in all_team_info %}
  <tr>
    <td>
        <input type="hidden" name="sub-name" value="{{message.0}}">
        {{message.0}}
    </td>
    <td>{{ message.1 }}</td>
    <td>{{ message.2 }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

<br>
<br>
##################################
<div>DBすべての募集投稿情報</div>
<table>
<thead>
<tr>
    <th>外部キーのチームID</th>
    <th>イベント名</th>
    <th>試合日程</th>
    <th>募集期限</th>
    
</tr>
</thead>
<tbody>
{% for message in all_event_info %}
<tr>
    <td>
        <input type="hidden" name="sub-name" value="{{message.0}}">
        {{message.1}}
    </td>
    <td>{{ message.2 }}</td>
    <td>{{ message.4 }}</td>
    <td>{{ message.5 }}</td>
</tr>
{% endfor %}
</tbody>
</table>


<br>
<br>
##################################
<div>DBすべての気になる募集情報</div>
<table>
<thead>
<tr>
    <th>外部キーの投稿ID</th>
    <th>気になるの送り手チーム名</th>
    
</tr>
</thead>
<tbody>
{% for message in all_favorite_event %}
<tr>
    <td>
        <input type="hidden" name="sub-name" value="{{message.0}}">
        {{message.1}}
    </td>
    <td>{{ message.2 }}</td>
</tr>
{% endfor %}
</tbody>
</table>

<br>
<br>
##################################
<div>DBすべての応募情報</div>
<table>
<thead>
<tr>
    <th>外部キーの投稿ID</th>
    <th>応募の送り手チーム名</th>
    
</tr>
</thead>
<tbody>
{% for message in all_event_applies %}
<tr>
    <td>
        <input type="hidden" name="sub-name" value="{{message.0}}">
        {{message.1}}
    </td>
    <td>{{ message.2 }}</td>
</tr>
{% endfor %}
</tbody>
</table>

<br>
<br>
##################################
<div>DBすべての気になるチーム情報</div>
<table>
<thead>
<tr>
    <th>外部キーのチームID</th>
    <th>応募の送り手チームID</th>
    
</tr>
</thead>
<tbody>
{% for message in all_favorite_team %}
<tr>
    <td>
        <input type="hidden" name="sub-name" value="{{message.0}}">
        {{message.1}}
    </td>
    <td>{{ message.2 }}</td>
</tr>
{% endfor %}
</tbody>
</table>

<br>
<br>
##################################
<div>DBすべての登録ゲーム記録</div>
<table>
<thead>
<tr>
    <th>外部キーのチームID</th>
    <th>対戦相手校</th>
    <th>ゲームの種類</th>
    <th>当校のスコア</th>
    <th>対戦相手のスコア</th>
    <th>ゲームの実施日</th>
    
</tr>
</thead>
<tbody>
{% for message in all_favorite_team %}
<tr>
    <td>
        <input type="hidden" name="sub-name" value="{{message.0}}">
        {{message.1}}
    </td>
    <td>{{ message.2 }}</td>
    <td>{{ message.3 }}</td>
    <td>{{ message.4 }}</td>
    <td>{{ message.5 }}</td>
    <td>{{ message.6 }}</td>
</tr>
{% endfor %}
</tbody>
</table>



</html>
