{% load static %}
<link rel="stylesheet" href="{% static 'tramino/test.css' %}">
<p class='red', style='color:blue;'>aiueo</p>
<p class='red'>aiueo</p>
###################################DBすべてのチーム情報
<table>
<thead>
<tr>
    <th>チームID</th>
    <!-- <th>コード</th> -->
    <th>学校名</th>
    <th>部活名</th>
</tr>
</thead>
<tbody>
{% for message in all_team_info %}
<tr>
    <td>{{ message.0 }}</td>
    <td>{{ message.1 }}</td>
    <td>{{ message.2 }}</td>
</tr>
{% endfor %}
</tbody>
</table>

<br>
<br>
###################################DBすべてのイベント情報
<table>
<thead>
<tr>
    <th>イベント投稿ID</th>
    <!-- <th>コード</th> -->
    <th>ホストチームID</th>
    <th>イベント題名</th>
</tr>
</thead>
<tbody>
{% for message in all_event_info %}
<tr>
    <td>{{ message.0 }}</td>
    <td>{{ message.1 }}</td>
    <td>{{ message.2 }}</td>
</tr>
{% endfor %}
</tbody>
</table>

<br>
<br>
###################################DBすべてのイベント応募レコード
<table>
<thead>
<tr>
    <th>応募側</th>
    <th>投稿側</th>
</tr>
</thead>
<tbody>
{% for message in all_event_applies %}
<tr>
    <td>{{ message.1 }}</td>
    <td>{{ message.2 }}</td>
</tr>
{% endfor %}
</tbody>
</table>

<br>
<br>
###################################DBすべての気になるイベントレコード
<table>
<thead>
<tr>
    <th>応募側</th>
    <th>投稿側</th>
</tr>
</thead>
<tbody>
{% for message in all_favorite_event %}
<tr>
    <td>{{ message.1 }}</td>
    <td>{{ message.2 }}</td>
</tr>
{% endfor %}
</tbody>
</table>

<br>
<br>
###################################DBすべての気になるチームレコード
<table>
<thead>
<tr>
    <th>応募側</th>
    <th>投稿側</th>
</tr>
</thead>
<tbody>
{% for message in all_favorite_team %}
<tr>
    <td>{{ message.1 }}</td>
    <td>{{ message.2 }}</td>
</tr>
{% endfor %}
</tbody>
</table>

<br>
<br>
###################################DBすべての過去のゲーム記録
<table>
<thead>
<tr>
    <th>登録校</th>
    <th>対戦相手</th>
    <th>ゲームの種類</th>
    <th>自分のスコア</th>
    <th>相手のスコア</th>
    <th>実施日</th>
</tr>
</thead>
<tbody>
{% for message in all_past_game_records %}
<tr>
    <td>{{ message.1 }}</td>
    <td>{{ message.2 }}</td>
    <td>{{ message.3 }}</td>
    <td>{{ message.4 }}</td>
    <td>{{ message.5 }}</td>
    <td>{{ message.6 }}</td>
</tr>
{% endfor %}
</tbody>
</table>
